:root {
  --primary: #1698D9;
  --secondary: #D91667;

  --text-first: #000000;
  --text-second: #666666;
  --text-third: #22A7E9;
  --text-yellow: #FFFF66;
  --text-light:#FFFFFF;
  --hover-text-red: #E62E7A;
  --text-grey: #B3B3B3; 

  --bg-light: #F2F2F2;
  --bg-grey: #B3B3B3;
  --hover-bg-red: #E52E7A;

}

@font-face {
  font-family: Exo2;
  src: url('../fonts/Exo2.0-Thin.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background: url('images/Pattern.png');
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1280px;
}

.CatFood__heading {
  font-family: Exo2;
  text-align: center;
  font-size: 36px;
  line-height: 1.22em;
  color: var(--text-light);
  margin-top: 24px;
  text-shadow: 0px 1px 1px #000000;
}

.card-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;  
  margin-top: 24px;
}

/* Card */
.card-wrapper {
  position: relative;
  width: 320px;
  height: 480px;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 12px;
  background: var(--bg-light);
  clip-path: polygon(0 45.5px, 45.5px 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  cursor: pointer;
}

.card-wrapper__border {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  clip-path: polygon(0 45.5px, 45.5px 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 12px;
}

.card__info {
  margin: 21px 0 0 51px;
}

.card__contents,
.Slogan{ 
  color: var(--text-second);
}

.heading__name,
.heading__extra {
  color: var(--text-first);
  line-height: 1.16em;
}

.heading__name {
  font-size: 48px;
  margin-top: 5px;
}

.heading__extra {
  font-size: 24px;
}

.card__contents {
  font-size: 14px;
  margin-top: 15px;
}

.card__media {
  position: absolute;
  height: 301px;
  width: 368px;
  top: 208px;
  border: none;
}

.card__sticker {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 16px;
  right: 16px;
  background: #1698D9;
  border-radius: 50%;
  color: var(--text-light);
}

.card__weight {
  position: absolute;
  bottom: 38px;
  line-height: 22px;
  margin-left: 50%;
  font-size: 42px;
  transform: translate(-50%, 0);
}

.card__kg {
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
}

.ExtraDesc {
  color: white;
  margin-top: 14px;
  text-align: center;
  font-size: 13px;
}

.ExtraDesc__btn {
  color: var(--primary);
  text-decoration: underline dashed;
}

.ExtraDesc__btn:hover {
  cursor: pointer
}

/* Utilities */
.bg-disabled {
  background-color: var(--bg-grey);
}

.bg-selected-hover {
  background-color: var(--hover-bg-red);
}

.text-selected-hover {
  color: var(--hover-text-red)
}

.bg-selected {
  background-color: var(--secondary);
}

.card--disabled {
  filter: grayscale(90%);
  cursor: auto;
}

.ExtraDesc--disabled {
  color: var(--text-yellow);
}

/* Media */
@media(min-width: 768px)  {
  .card-list {
    gap: 80px;
  }
}
